
@media only screen and (min-width:1280px)
{

}
    * {
        box-sizing: border-box;
        margin : 0;
      }
      
   
      .column {
        float: left;
        padding: 10px;
        width: 45rem;
        height: 71rem;
        padding: 5rem 4.063rem 29.597rem 5rem;
        
      }
      
      .left {
        width: 50%;
        background-color: #f32d50;
       
      }


      #loko
      {
            width: 13.875rem;
            height: 3.216rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 128px;
            margin: 0 21.125rem 8rem 0;
            padding: 0;
            object-fit: contain;
      }

    .btn
    {
     
    width: 16rem;
    height: 3rem;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    padding: 0.3rem 2rem;
    border-radius: 50px;
    background-color: white;
    

    



    /* Text */

    flex-grow: 0;
    font-family: Inter ;
    font-size: 1rem;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.7rem;
    letter-spacing: 0.48px;
    text-align: center;
    color: red;
    

    }

      



    
      .right {
        width: 50%;
        background-color: white;
      }

    
    /* BIG TEXT */
  h1
  {
  width: 34.938rem;
  height: 11rem;
  flex-grow: 0;
  font-family: Poppins;
  font-size: 4rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: -1px;
  text-align: left;
  color: white;

  }
/* Hand */



.a2{
object-fit: contain;
height: 100%;
width: 100%;
margin-left: 50%;
margin-right: 50%;
}





    


   
